.color-primary-bg{
    background: $color-primary;
}

.color-secondary-bg{
    background: $color-secondary;
}

.color-accent-bg{
    background: $color-accent;
}

.color-primary{
    color: $color-primary;
}

.color-secondary{
    color: $color-secondary;
}

.color-accent{
    color: $color-accent;
}